<!doctype html>
<head>
  <meta charset="utf-8">
  <title>{{ title }} — Nebula</title>
{% block head %}
<link href='http://fonts.googleapis.com/css?family=Ubuntu+Condensed|Ubuntu:400,500|Ubuntu+Mono' rel='stylesheet' type='text/css'>
<style>{{ source('nebulaStyle.css') }}</style>
<script>
</script>
{% endblock %}
</head>
<body>
<header>
  <h1>{{ title }}</h1>
  {% block nav %}
  {% endblock %}
</header>
{% block nebula %}
{% endblock %}
</body>
